body { background-color:#586362; }
.container { background-image: url(../images/notebook-line.jpg); background-position:left; background-repeat:repeat-y; }
#span-top { height:10px; background: url(../images/span-top.png) top repeat-x; display:block; margin:0 150px 0 6px; }
#span-bot { height:10px; background: url(../images/span-bot.png) bottom repeat-x; display:block; margin:0 150px 0 6px; }

/*#ts_right{ text-align:right; width: 100%; padding-top:1px !important; margin-right:8px; padding-bottom:3px !important; }*/

#task_table td.task_description { max-width:350px; overflow-x:hidden; }
#task_table td.task_name { max-width:100px; overflow-x:hidden; }
#task_table td.task_expected_pomo { max-width:100px; overflow-x:hidden; }

.project { color:#000099 }
.task { color:#006600 }
.task:hover { cursor:crosshair; }

#cuco_button { background-image: url(../images/cuco_button.jpg); background-position:center; background-repeat: no-repeat; height:105px; width:105px; }
/*#stop_button { background-image: url(../images/stop_button.png); background-position:center; background-repeat: no-repeat; height:30px; width:30px; }*/
#progressbar { height:2px; }

#to_do_list { margin:20px 0 0 5px; }
#to_do_list table { border:#999999; border-style:solid; border-width:thin; border-top-width:thick; }
#to_do_list table tr td { border-right:#999999; border-right-style:solid; border-right-width:thin;
                          border-bottom:#999999;border-bottom-style:solid;border-bottom-width:thin; }

.clear { clear:both; }
