<script type="text/javascript">
//<!--

var pomo = null;

$(document).ready(function (){
  //alert('ready!');
  //pomo = new Pomodoro();
  
  require_projects();
})
//-->
</script>

<div id="task_tree">
</div>

<div id="pomodoro" style="display:none;">
<fieldset>
<h1 id="task_name">Task 101</h1>
<input type="hidden" id="current_task_id"/>
<hr>
<div class="cuco_button span-3"><input type="button" id="cuco_button" onclick="pomo.cuco_click()" /></div>
<div id="cuco_balloon"class="cuco_balloon span-4 last"></div>
<!--div class="stop_button"><input type="button" id="stop_button" onclick="pomo.stop_pomodoro()" /-->
<hr>
<!-- Progressbar -->
<div id="progressbar" class="span-7 last"></div>
<div id="timer"></div>

</fieldset>
</div>
